@import "variables.scss";

@mixin setThemeButton($bgColor, $textColor) {
    background-color: $bgColor;
    color: $textColor;
    border-bottom: 3px solid $bgColor;
    border-radius: 3px;
    &:hover,
    &:active {
        border-bottom: 3px solid darken($bgColor, 25%);
    }
}

@mixin setBorder($size, $side, $color) {
    @if $side == 'left' {
        border-left: $size solid $color;
    } @else if $side == 'right' {
        border-right: $size solid $color;
    } @else if $side == 'top' {
        border-top: $size solid $color;
    } @else if $side == 'bottom' {
        border-bottom: $size solid $color;
    } @else {
        border: $size solid $color;
    }
}

@mixin setHoverStyles {
    color: darken($color-dark, 25%);
    border-bottom: 3px solid darken($color-dark, 25%);
}

h4 {
    font-size: 125%;
    font-weight: 400;
    margin-bottom: 5px;
}

.search-title {
    color: darken($color-primary, 25%);
    width: 90%;
    margin-top: 20px;
    font-size: 80%;
    //margin: 0 auto;
}

form {
    @include setBorder(1px, 'all', $color-border);
    width: 50%;
    margin: 0 auto;
    box-shadow: 2px 5px 6px 1px $color-border;
    border-radius: 3px;
}

.form-fields {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.action {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.input-errors {
    margin-top: 3px;
    width: 90%;
    display: flex;
    flex-direction: column-reverse;
}

.error-msg {
    color: $color-bug;
    //color: darken($color-primary, 25%);
    font-size: 75%;
}


.detail {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 12px 0;

    &.links {
        flex-direction: row;

        a {
            margin-right: 12px;
            text-decoration: none;
            color: $color-dark;
            @include setBorder(3px, 'bottom', $color-transparent);

            &:link{
                color: $color-dark;
            }

            &.router-link-active,
            &:hover,
            &:active {
                @include setHoverStyles;
            }
        }
    }

    .status-container {
        display: flex;
        flex-direction: row;
        align-content: center;
    }

    .item-title {
        font-size: 75%;
        color: $color-dark;
    }
}